<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html itemscope itemtype="http://schema.org/Organization">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>@Transverse.Constants.AppName Service - Get link Fshare 4share Ten lua Get link VIP Max Speed</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="get link pro, get link fshare, get link 4share, get link Ten lua, get link megashare, get link zing file, get link 320kbps, get link lossless, get link zing mp3, get link mediafire, get link 4shared, get link fshare vip, acc fshare vip, download fshare vip, getlink fshare mới nhất, getlink fshare 2014, get fshare, leech link fshare, acc vip miễn phí, download fshare.vn, getlink, get fshare 2014, tool getlink fshare, tài khoản fshare vip, fshare tools" />
    <meta name="description" content="Get link Fshare Get link 4share Get link Ten lua Get link Tailieu Get link Rapidgator Get link Uploaded Get link 4shared Get link ZingMP3 Get link Mediafire VIP">
    <meta itemprop="name" content="@Transverse.Constants.AppName Service - Get link Fshare 4share Ten lua Get link VIP Max Speed">
    <meta itemprop="description" content="Bạn muốn tải file Fshare, 4Share, Tên lửa, Tài liệu, Rapidgator... mà không có tài khoản VIP ? Đừng lo lắng, đã có @Transverse.Constants.AppName giúp bạn !">
    <meta itemprop="image" content="/content/front-end/images/img_download.png">
    <meta name="google-site-verification" content="e358ECdddKONP90_152o6NpF9Fq_UAa9VzXEu8luMPw" />
    <meta name="alexaVerifyID" content="1bUz7HMd6HrBTB2UuaHQvRkMh3o" />
    @Styles.Render("~/Content/font-end-css")
    @RenderSection("styles", false)
    <link rel="alternate" href="/" hreflang="vi-vn" />
    @{
    Html.RenderPartial("_Partial/_Google");
}
</head>
<body>
    @{
        Html.RenderPartial("_Partial/_Facebook");
    }
    <div id="AjaxProgress" class="" style="top: 0px; left: 0px; position: fixed;"><div style="display: none;" class="overlay"></div></div>
    <div class="dim" style="display:none"></div>
    @{
        Html.RenderPartial("_Partial/_NavBar");
        Html.RenderPartial("_Partial/_MainBar");
    }
    <div class="container">
        <div class="content">
            <div class="content-container">
                @{
                    Html.RenderPartial("_Partial/_AdsTop");
                }
                <div class="row">
                    <div class="col-md-8">
                        @RenderBody()
                    </div>
                    <div class="col-md-4">
                        @{
                            Html.RenderPartial("_Partial/_RightPanel");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("_Partial/_Footer");
    }

    @Scripts.Render("~/Scripts/front-end-jquery")

    @RenderSection("scripts", false)

    <div class="likebox-fb">
        <div class="fb-like-box" data-href="https://www.facebook.com/pages/Get-link-VIP-Fshare/1521504258070620" data-width="180" data-height="340" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
    </div>
</body>
</html>
